<form [formGroup]="form" (submit)="addPlan()">
  <mat-card class="map">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon class="map-icon">add_circle</mat-icon>
      </div>
      <mat-card-title>Create a new plan</mat-card-title>
      <mat-card-subtitle>Where do you want to fly?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Name -->
      <mat-form-field class="name">
        <input matInput placeholder="Plan name" formControlName="name">
      </mat-form-field>
      <!-- Choose map -->
      <mat-radio-group aria-label="Select a map" formControlName="map">
        <mat-radio-button [value]="map" *ngFor="let map of maps">{{map.name}}</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <span class="add-desc">Add points by clicking in the map.</span>
    <div class="point-editor" mat-card-image (click)="addPoint($event.layerX, $event.layerY)">
      <svg>
        <circle [attr.cx]="point.x" [attr.cy]="point.y" r="5" stroke="red" stroke-width="2" fill="#006064" *ngFor="let point of form.value.points"/>
      </svg>
      <img src="/assets/maps/{{form.controls['map'].value.URI}}.PNG" alt="map image">
    </div>
    <mat-card-actions>
      <!-- Create and cancel buttons -->
      <button mat-button [disabled]="!form.valid">Create plan</button>
      <button mat-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>

</form>
