.name {
  width: 100%;
  font-size: 1.5em;
}

.map-icon {
  font-size: 39px;
}

mat-radio-button {
  display: block;
  margin: 4px 0;
}

.create {
  margin-top: 8px;
  button {
    font-size: 18px;
    width: 100%;
  }
}
