.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-container {
    margin-top: 24px;
    button {
      width: 100%;
      background-color: #006064;
      color: white;
      font-size: 28px;
      padding: 8px 12px;
    }
  }
}
